# These values are public because Vite embeds VITE_* variables in the browser bundle.
# Never put the database password in this file.
VITE_SURREAL_ENDPOINT=wss://nano-things-fre-06fekk904lvvv6p0ocvu8dm7c4.aws-euw1.surreal.cloud
VITE_SURREAL_NAMESPACE=main
VITE_SURREAL_DATABASE=main
VITE_SURREAL_USERNAME=nano-things-user
