# These values are public because Vite embeds VITE_* variables in the browser bundle.
# Never put SURREAL_JWT_SECRET or any database password in this file.
VITE_SURREAL_ENDPOINT=wss://nano-things-fre-06fekk904lvvv6p0ocvu8dm7c4.aws-euw1.surreal.cloud
VITE_SURREAL_NAMESPACE=main
VITE_SURREAL_DATABASE=main
VITE_GOOGLE_CLIENT_ID=1011598554930-bkr0kuce43itfl75itlkp927ff21b5lt.apps.googleusercontent.com
VITE_AUTH_BROKER_URL=https://tiny-tasks-auth.surrealdb-cloud-todo-example.workers.dev
